<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/boardList.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<!--
	GET		/menu : 전체메뉴 조회
	GET		/menu/type/KR : 한식만 조회
	GET		/menu/type/CH : 중식만 조회
	GET		/menu/type/JP : 일식만 조회
	GET		/menu/taste/MILD : 순한맛만 조회
	GET		/menu/taste/HOT : 매운맛만 조회
	GET		/menu/10 : id가 10번인 메뉴1건만 조회
	
	POST	/menu : 메뉴한건 등록
	
	PUT		/menu : 메뉴 한건 전체수정
	PATCH	/menu : 메뉴 한건 일부수정
	
	DELETE	/menu/10 : 메뉴 한건만 삭제
-->
</head>
<body>
	<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	<h2 align="center">MENU RESTful API</h2>
	
	<div class="outer">
		<!-- 1. GET		/menu : 전체메뉴 조회 -->
		<div class="menu-test">
			<h3>전체 메뉴</h3>
			<button type="button" id="menuAllList" class="btn">조회</button><br><br>
		</div>
		<div id="menu-result"></div>
		<hr>
		<script>
			$(() => {
				$('#menuAllList').on('click', () => {
					$.ajax({
						url : '/menu',
						method : 'GET',
						success(result) {
							console.log(result);
							menuTable('#menu-result', result);
						},
						error : console.log
					})
				})
			})
		</script>
		
		<!-- 2.  GET   /menu/type/KR, /menu/type/CH, /menu/type/JP  타입별 조회-->
		<div class="menu-test">
			<h3>메뉴 타입별 조회(GET)</h3>
			<select id="typeSelector">
				<option value="" disabled selected></option>
				<option value="KR">한식</option>
				<option value="CH">중식</option>
				<option value="JP">일식</option>
			</select>
		</div>
		<br>
		<div id="menuType-result"></div>
		<hr>
		<script>
			$(() => {
				$('#typeSelector').on('click', e => {
					console.log(e.target.value);
					$.ajax({
						url : `/menu/type/${e.target.value}`,
						method : 'GET',
						success(result) {
							console.log(result);
							menuTable('#menuType-result', result);
						},
						error:console.log
					})
				})
			})
		</script>
		
		<!-- 3. GET   /menu/type/KR/taste/MILD  2가지를 만족하는 필드 -->
		<div class="menu-test">
			<h3>메뉴 타입과 맛별 조회(GET)</h3>
			<form name="menuTypeTasteFrm" id="menuTypeTasteFrm">
				<div class="menuRadio">
					<input type="radio" name="type" value="KR">한식&emsp;
					<input type="radio" name="type" value="CH">중식&emsp;
					<input type="radio" name="type" value="JP">일식&emsp;
				</div>
				&emsp;&emsp;|&emsp;&emsp;
				<div class="menuRadio">
					<input type="radio" name="taste" value="MILD">순한맛&emsp;
					<input type="radio" name="taste" value="HOT">매운맛&emsp;
				</div>
				<br><br>
				<button class="btn">조 회</button>
			</form>
		</div>
		<br>
		<div id="menuTypeTaste-result"></div>
		<hr>
		<script>
			$(() => {
				$('#menuTypeTasteFrm').on('submit', e => {
					e.preventDefault();
					const type = e.target.type.value;
					const taste = e.target.taste.value;
					$.ajax({
						url : `/menu/type/${type}/taste/${taste}`,
						method : 'GET',
						success(result) {
							console.log(result);
							menuTable('#menuTypeTaste-result', result);
						},
						error: console.log
					});
				});
			})
		</script>
		
		<!-- 4. GET		/menu/10 : id가 10번인 메뉴1건만 조회-->
		<div class="menu-test">
			<h3>ID로 검색</h3>
			<input name="id" id="id">&emsp;
			<button type="button" id="idSelect" class="btn">조회</button><br><br>
		</div>
		<br>
		<div id="id-result"></div>
		<hr>
		<script>
			$(() => {
				$('#idSelect').on('click', () => {
					const value = $('#id').val();
					$.ajax({
						url : `/menu/${value}`,
						method : 'GET',
						success(result) {
							console.log(result);
						},
						error: console.log
					});
				});
			})
		</script>
		
		
		<script>
			const menuTable = (selector, data) => {
				const container = document.querySelector(selector);
				let value = `<table align="center" id="list-area">
								<thead>
									<tr>
										<th>번호</th>
										<th>메뉴명</th>
										<th>가격</th>
										<th>레스토랑명</th>
										<th>맛</th>
										<th>종류</th>
									</tr>
								</thead>
								<tbody>`;
				data.forEach(item => {
					value += `<tr>
								<td>${item.id}</td>
								<td>${item.name}</td>
								<td>${item.price}</td>
								<td>${item.restaurant}</td>
								<td>${item.taste}</td>
								<td>${item.type}</td>
							  </tr>`;
				});
				value += `</tbody></table>`;
				container.innerHTML = value;
			}
		</script>
	</div>
</body>
</html>